:root
{
  --kibla:black;
  --ty:azure;
  --ngirafisa:skyblue;
  --blue:blue;
  --weight:bolder;
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --or:rgb(255, 132, 0);
  --gre:rgb(11, 243, 11);
}

.body{
  margin: 0;
  padding: 0;
  display: grid;
  background-color: black;
}

.body::-webkit-scrollbar
{
  display: none;
}

.header
{
  display: flex;
  justify-content: space-between;
  height: 20px;
  background-color: var(--or);
  position: fixed;
  margin: 0;
  z-index: 5;
}

.company-img
{
  position: fixed; 
  width: 100%; 
  display: grid; 
  background: black; 
  margin-top: 32px; 
  margin-left: -10px;
}

.comp-img
{
  height: 350px; 
  width: inherit; 
  position: relative;
}

.comm 
{
  color: #fff;
  font-weight: 900;
  font-size: 19px;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.randoms 
{
  display: grid; 
  height: 300px; 
  background: rgba(4, 28, 243, 0.24); 
  width: 100%; 
  position: absolute;
  margin-top: 32px; 
  margin-left: -10px; 
  transition: 1s;
  display: none;
}

.randoms-active
{
  display: auto;
  display: grid; 
  height: 100px; 
  background:var(--or);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; 
  width: 100%; 
  position: absolute;
  justify-content: center;
  margin-top: 310px;
  z-index: 2; 
  margin-left: -10px; 
  transition: 2s;
}

.randoms
{
  content: '';
  transition: 1s;
  margin-top: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  display: auto;
  display: grid; 
  height: 100px; 
  width: 100%; 
  justify-content: center;
  z-index: 2; 
  margin-left: -10px; 
  background: transparent;
  box-shadow: 1px 3px 6px var(--gre);
}

.shop-with-us
{
  color: var(--ty); 
  width: 440px;
  height: 140px;
  justify-content: center; 
  display: flex;
  padding: 15px;
  padding-right: 20px; 
  font-size: 17px; 
  font-weight: bolder; 
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--or);
  height: 50px;
  border-radius: 20px;
  border: 2px solid azure;
}

.shop-now
{
  background: #fff;
  color: var(--or);
  border: none;
  font-size: 15px;
  justify-self: center; 
  width: 150px;
  border-radius: 20px; 
  margin-top: 138px;
  border: 2px solid var(--or); 
  position: absolute; 
  height: 30px;
  font-weight: bolder;
  font-size: large;
}

.shop-now:hover
{
  background:var(--or);
  color: #fff;
  border: 1px solid var(--or);
  font-size: 15px;
  justify-self: center; 
  width: 160px;
  border-radius: 20px; 
  margin-top: 140px; 
  position: absolute; 
  height: 30px;
}

.slider
{
  display: flex;
  height: 320px;
  width: 1800px;
  background-color: var(--or);
  position: absolute;
  margin-top: 330px;
  margin-left: -10px;
  overflow-x: scroll;
  overflow-y: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: smooth;
}

.slider::-webkit-scrollbar
{
 display: none; 
}

.paragraph
{
  justify-self: center;
  margin-left: 50px;
  font-weight: var(--weight);
  font-family: var(--font);
  margin-top: -0.9px;
  position: absolute;
  color: #fff;
}

.group
{
  display: flex;
  width: 1188px;
  align-items: center;
  justify-content: center;
  animation: spin 60s infinite linear ;
  gap: 7px;
 
}

.group-mbexe
{
  margin-left: 2525px;
}


@keyframes spin {
  from {translate: 0;}
  to {translate: -180%;}
}

.img-box,
.img-b1x,
.img-b3x,
.img-b4x,
.img-b5x,
.img-b6x,
.img-b7x,
.img-b8x,
.img-b9x,
.img-b10x,
.img-b11x,
.img-b12x,
.img-b13x
{
  width: 280px;
  border: 2px solid var(--gre);
  height: 270px;
  margin-top: 150px;
  border-radius: 15px;
  margin-left: 10px;
  position: relative;

}

.img-box-active,
.img-b1x-active,
.img-b2x-active,
.img-b3x-active,
.img-b4x-active,
.img-b5x-active,
.img-b6x-active,
.img-b7x-active,
.img-b8x-active,
.img-b9x-active,
.img-b10x-active,
.img-b11x-active,
.img-b12x-active,
.img-b13x-active
{
  width: 270px;
  border: 2px solid var(--ty);
  height: 270px;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
  transition: 2s;
}

.img-box-active:hover,
.img-b1x-active:hover,
.img-b2x-active:hover,
.img-b3x-active:hover,
.img-b4x-active:hover,
.img-b5x-active:hover,
.img-b6x-active:hover,
.img-b7x-active:hover,
.img-b8x-active:hover,
.img-b9x-active:hover,
.img-b10x-active:hover,
.img-b11x-active:hover,
.img-b12x-active:hover,
.img-b13x-active:hover
{
   box-shadow: 1px 2px 6px azure;
   cursor: pointer;
   border: 2px solid var(--gre);
   transition: 0.2s;
   
}

.img
{
  width: inherit;
  height: 100%;
  overflow: hidden;
  object-fit: fill;
  border-radius: inherit;
  position: relative;
}

.img-caption
{
  position: absolute;
  margin-left: -250px;
  margin-top: 150px;
  width:130px;
  border: 2px solid var(--gre);
  border-radius: 30px;
  padding: 10px;
  background:rgba(240, 255, 255, 0.849);
  color: green;
  font-weight: bolder;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-around;
  align-items: center;


}

.img-box-active:hover .img-caption,
.img-b1x-active:hover .img-caption,
.img-b2x-active:hover .img-caption,
.img-b3x-active:hover .img-caption,
.img-b4x-active:hover .img-caption,
.img-b5x-active:hover .img-caption,
.img-b6x-active:hover .img-caption,
.img-b7x-active:hover .img-caption,
.img-b8x-active:hover .img-caption,
.img-b9x-active:hover .img-caption,
.img-b10x-active:hover .img-caption,
.img-b11x-active:hover .img-caption,
.img-b12x-active:hover .img-caption,
.img-b13x-active:hover .img-caption
{
  transform: translateX(40px);
  transition: 0.8s;
  background: var(--gre);
  color: rgb(162, 108, 8);
}

.posts
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 1px;
  row-gap: 30px;
  background-color: var(--or);
  position: absolute;
  margin-top: 650px;
  margin-left: -10px;
  width: 100%;
  padding: 14px;
  z-index: 2;
  transition: smooth;
}

/*Posts*/
.post-card
{
  width: 210px; 
  display: grid;
  border: 2px solid transparent;
  height:220px ;
  border-radius: 20px;
}

.post-card:hover .middle-b1x
{
  background-color: var(--gre);
  transition: 0.5s;
}

.post-card:hover .item,
.post-card:hover .price-sec
{
  background-color: #fff;
  color: green;
}


.middle-b1x
{
  background-color: #ffffff59; 
  height: 60px;
  width: 224px;
  display: grid; 
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px;
  padding-top: 5px;
  margin-top: -13px;
  position: absolute;
  z-index: 2;
  color:var(--ty);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  align-items: center;

}

.item
{
  justify-content: center;
  display: flex;
  background: var(--gre);
  border-radius: 10px;
  margin-left: 4px;
  color: var(--kibla);
}

.price-sec
{
  margin-left: 5px;
  padding: 2px;
  background: var(--gre);
  color: var(--kibla);
  border-radius: 10px;
  font-size: 14px;
  justify-content: center;
  font-size: 13.4px;
  font-weight: bolder;
}

.comparison
{
  color: orange;
}


.bottom-b1x
{
  height: 230px;
  width: 225px;
  border-radius: 20px;
  margin-top: -12px;
  position: relative;
  overflow: hidden;
}

.book-button
{
  position: absolute;
  margin-top: 185px;
  margin-left: -190px;
  height: 35px;
  font-size: medium; 
  font-weight: bolder;
  color: var(--or);
  background: #ffffff99;
  padding-left: 20px;
  padding-right: 20px; 
  border-radius: 21px;
  border: 1px solid var(--or);
}

.book-button:hover
{
  content: '';
  background: var(--or);
  color: #fff;
  transition: 0.3s;
  border: 1px solid #fff;
}

.l1nk
{
  color: var(--kibla);
  text-decoration: none;
}

.l1nk:hover
{
  color: var(--ty);
  text-decoration: none;
  transition: 0.2s;
}

.post-img
{
  width: inherit;
  height: inherit;
  position: relative;
}


/*POP up*/
.pop-active
{
  height: 350px;
  width: 400px;
  background-color: var(--or);
  justify-self: center;
  position: absolute;
  margin-top: 230px;
  border-radius: 20px;
  z-index: 2;
  display: grid;
  padding: 5px;
  row-gap: 10px;
}



.top-pop
{
  display: grid;
  justify-content: center;
  background: var(--or);
  border: 6px double var(--gre);
  border-radius: 10px;
  color: #fff;
  font-weight: var(--weight);
}

.descc
{
  font-size: 19px;
  font-style: oblique;
  margin-top: 15px;
  font-family: var(--font);
  color: var(--ty);
  padding-left: 10px;

}

.uncode
{
  font-size: 15px;
  height: 20px;
  font-family: var(--font);
  color: var(--kibla);
  background: var(--gre);
  border-radius: 10px;
  padding: 2px;
  border: 2px solid var(--or);
  margin-top: -4px;
  justify-self: center;
}

.uncode:hover
{
  font-size: 15px;
  height: 20px;
  font-family: var(--font);
  color:var(--kibla);
  background: yellow;
  border-radius: 10px;
  padding: 2px;
  border: 2px solid var(--kibla);
  margin-top: -4px;
  justify-self: center;
}

.wapp
{
  height: 40px;
  width: 220px;
  border-radius: 20px;
  background-color: greenyellow;
  justify-self: center;
  font-weight: var(--weight);
  font-family: var(--font);
}

.facebook
{
   height: 40px;
  width: 220px;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
  border: 2px solid var(--gre);
  justify-self: center;
  font-weight: var(--weight);
  font-family: var(--font);
}

.ww
{
  justify-self: center;
  font-size: 13px;
}

.wapp:hover
{
  background: var(--or);
  color: rgb(169, 253, 1);
  transition: 0.4s;
  border: 2px solid yellowgreen;
  cursor: pointer;
}

.facebook:hover
{
  background: var(--or);
  color: var(--blue);
  transition: 0.4s;
  border: 1px solid var(--ty);
  cursor: pointer;
}


.address
{
  color: var(--kibla);
}

.address:hover
{
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.support
{
  color: var(--kibla);
}

.branch:hover
{
  color: var(--gre);
  transition: 0.3s;
  cursor: pointer;
}

.support:hover
{
  color: red;
  transition: 0.4s;
  cursor:progress;
}



/*ENDS HERE*/

/*REFFERENCE PG*/
  .inquiries
  {
    margin-top: 800px;
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    cursor: progress;
  }
/*endss*/


 @media  screen and (min-width:824px) {


  .company-img
  {
    position: fixed; 
    width: 100%; 
    display: grid; 
    background: #fff; 
    margin-top: 32px; 
    margin-left: -10px;
  }

  .comp-img
  {
    height: 350px; 
    width: 700px;
    justify-self: center; 
    position: relative;
    background-color: red;
    transition: 1s;
  }

  .randoms
  {
  display: auto;
  display: grid; 
  height: 120px; 
  background: transparent;
  color: var(--ty); 
  width: 100%; 
  position: absolute;
  justify-content: center;
  margin-top: 10px;
  z-index: 2; 
  margin-left: -10px; 
  transition: 1.6s;
  box-shadow: 1px 3px 6px var(--gre);
}

.randoms-active
{
  content: '';
  transition: 1s;
  margin-top: 290px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: absolute;
  display: auto;
  display: grid; 
  height: 120px; 
  width: 100%; 
  justify-content: center;
  z-index: 2; 
  margin-left: -10px; 
  background: var(--or);
}

.shop-with-us
{
  color: azure; 
  width: 690px;
  height: 140px;
  justify-content: center; 
  display: flex;
  padding: 15px;
  padding-right: 20px; 
  font-size: 17px; 
  font-weight: bolder; 
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--or);
  height: 50px;
  border-radius: 20px;
  transition: 1s;
}

.shop-now
{
  background: #fff;
  color: var(--or);
  border: none;
  font-size: 15px;
  justify-self: center; 
  width: 190px;
  border-radius: 20px; 
  margin-top: 138px;
  border: 2px solid var(--or); 
  position: absolute; 
  height: 30px;
  font-weight: bolder;
  font-size: large;
}

.shop-now:hover
{
  background: var(--or);
  color: #fff;
  border: 1px solid var(--gre);
  font-size: 15px;
  justify-self: center; 
  width: 200px;
  border-radius: 20px; 
  margin-top: 140px; 
  position: absolute; 
  height: 30px;
}




}

 @media  screen and (min-width:1224px) {
  .company-img
  {
    position: fixed; 
    width: 100%; 
    display: grid; 
    background: #fff; 
    margin-top: 32px; 
    margin-left: -10px;
  }

  .comp-img
  {
    height: 350px; 
    width: 700px;
    justify-self: center; 
    position: relative;
    transition: 1s;
  }

  .randoms
  {
  display: auto;
  display: grid; 
  height: 100px; 
  background:transparent; 
  width: 100%; 
  position: absolute;
  justify-content: center;
  margin-top: 30px;
  z-index: 2; 
  margin-left: -10px; 
  transition: 1.6s;
}

.randoms-active
{
  content: '';
  transition: 1s;
  margin-top: 310px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  display: auto;
  display: grid; 
  height: 100px; 
  width: 100%; 
  justify-content: center;
  z-index: 2; 
  margin-left: -10px; 
  background: var(--or);
}

.shop-with-us
{
  color: azure; 
  width: 990px;
  height: 140px;
  justify-content: center; 
  display: flex;
  padding: 15px;
  padding-right: 20px; 
  font-size: 17px; 
  font-weight: bolder; 
  margin-top: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--or);
  height: 50px;
  border-radius: 20px;
  transition: 1s;
}

.shop-now
{
  background: #fff;
  color: var(--or);
  border: none;
  font-size: 15px;
  justify-self: center; 
  width: 230px;
  border-radius: 20px; 
  margin-top: 138px;
  border: 2px solid var(--gre); 
  position: absolute; 
  height: 30px;
  font-weight: bolder;
  font-size: large;
}

.shop-now:hover
{
  background: var(--or);
  color: #fff;
  border: 1px solid var(--or);
  font-size: 15px;
  justify-self: center; 
  width: 240px;
  border-radius: 20px; 
  margin-top: 140px; 
  position: absolute; 
  height: 30px;
}};

